<li>
    <p>
        <!-- if user is sign in and if user which is sign in and user who created the post -->
        <% if(locals.user && locals.user.id == comment.user.id) { %>  
           <small>
              <a href="/comment/destroy/<%= comment.id %>">X</a>
             </small>
         <% } %>
        <%= comment.content %>
        <br>
        <small>
            <%= comment.user.name %>
        </small>      
    </p>

</li>