<footer>
     <div id="container">
        <div id="container-content">
              <h3><footer class="copyright-content">&copy; Saurabh All Copyright 2021</footer>
              </h3>

              
                  <ul id="link-bittons">
                      <li id="home-link">
                          
                               <a href="/">Home</a>

                               <!-- <% if(locals.user) {%>

                            <% }%> -->
                          
                      </li>
                      <li id="profile-link">
                        
                            <a href="/user/profile">Profile</a>


                         
                      </l id   i>
                  </ul>

              
        </div>


        
     </div>
</footer>