<link rel="stylesheet" href="/css/home.css">
    <div id="home-container">
        <section id="feed-posts"> 
            <h4>Posts</h4>
            <!-- check if user is Sign In if Sign In then it will create the post  so this is first check..-->
            <% if(locals.user) { %>
                <form action="/post/create" id="new-post-form" method="POST">
                   <textarea name="content"  cols="30" rows="3" placeholder="Type here..."></textarea>
                   <input type="submit" value="Post">
                 </form>
                 
            <%}%>
    
            <div id="posts-list-container">
               <ul>
                   <% for(post of posts) { %>
                      <%- include('_post')  -%>
                    
                    
                    <% } %>
               </ul>
            </div>   
        </section>
    
    
        <section id="user-friends">
              <h4>Friends</h4>
                <!-- for lists to users -->
    
                <% for(u of all_users) { %>
                    <p>
                        <!-- display the name of the user -->
                        <a href="/user/profile/<%= u.id%>"><%= u.name%></a>
                    </p>
                    
                    
                 <%}%>
    
        </section>

    </div>