<html>
    <head>



    </head>

    <body>

      <h1>Sign Up </h1>
        <form action="/user/create" method="POST">
          <input type="email" name = "email" id="email-block" placeholder="123@gmail.com" required>
          <input type="password" name="password" id="password-block" placeholder="********" required>
          <input type="password" name="Confirm_password" id="password-block" placeholder="********" required>
          <input type="text" name = "name" id="name-block" placeholder="Your name" required>
          <button type="submit" value="Sign Up">Sign Up</button>


        </form>
    </body>
</html>