<h1> Sign In </h1>

<form action="/user/create-session" method="POST">
<input type="email" name="email" placeholder="123@gmail.com" required>
<input type="password" name="password" placeholder="**********" required>
<button type="submit" value="Sign In">Sign In</button>


</form>

<p>
    <a href="/user/auth/google">Google Sign In/Sign Up</a>
</p>