html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: table;
}
#container{
    width: auto;
    height: 100px;
    background-color: gray;
    

    #container-content{
        display: flex;
        color: white;
    
    .copyright-content:hover{
        background-color: black;

    }
    #link-bittons{
        list-style: none;
        &:hover{
            color: black;
        }
    li a{
        text-decoration: none;
        color: white;
    }    
    }
}
    

}